table,th,td{
    border: 3px double black;
}



.colorProductNull{
    color:white;
    background-color: red;
}
.colorProductPositive{
    color:white;
    background-color:green
}






















// .expensive{
// color:yellow
// }
// .cheap{
//     color:green
//     }